<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assets"
        android:installLocation="preferExternal"
        android:requestLegacyExternalStorage="true"
        >
        <activity android:name=".AdminActivity.ReportActivity"></activity>
        <activity android:name=".AdminActivity.RequestActivity" />
        <activity android:name=".UserActivity.ViewAssignmentActivity" />
        <activity android:name=".UserActivity.UserInfoActivity" />
        <activity android:name=".UserActivity.OTPActivity" />
        <activity android:name=".UserActivity.MyAssignmentActivity" />
        <activity android:name=".AdminActivity.EditAssignmentActivity" />
        <activity android:name=".AdminActivity.CreateNewAssignmentActivity" />
        <activity android:name=".AdminActivity.AssignmentManagementActivity" />
        <activity android:name=".AdminActivity.EditUserActivity" />
        <activity android:name=".AdminActivity.EditAssetActivity" />
        <activity android:name=".AdminActivity.CreateNewAssetActivity" />
        <activity android:name=".AdminActivity.CreateNewUserActivity" />
        <activity android:name=".UserActivity.MyRequestActivity" />
        <activity android:name=".AdminActivity.UserManagementActivity" />
        <activity android:name=".AdminActivity.AssetManagementActivity" />
        <activity android:name=".UserActivity.UserActivity" />
        <activity android:name=".AdminActivity.AdminActivity" />
        <activity android:name=".MainActivity">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>